{
    "minScore": {
        "1000": 6,
        "10000": 7,
        "25000": 8,
        "50000": 10,
        "250000": 12,
        "1000000": 13
    },
    "minComments": {
        "1000": 10,
        "10000": 12,
        "25000": 14,
        "50000": 16,
        "250000": 18,
        "1000000": 19
    },
    "maxRequests": 20,
    "maxHoursAgo": 23,
    "maxRssItems": 300,
    "rssFilePath": "./reddit.xml",
    "storageFilePath": "./storage.json",

    "isLogDebug": false,

    "consumerKey": "",
    "consumerSecret": "",
    "username": "",
    "password": ""
}
