{
    "minScore": 6,
    "minComments": 10,
    "maxRequests": 20,
    "maxHoursAgo": 23,
    "maxRssItems": 300,
    "rssFilePath": "./reddit.xml",
    "storageFilePath": "./storage.json",

    "isLogDebug": false,

    "consumerKey": "",
    "consumerSecret": "",
    "username": "",
    "password": ""
}
